#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(4, 255, 247);
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #04AA6D;
}

#blog {
  top: 80px;
  background-color: #2196F3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}

#contact {
  top: 200px;
  background-color: #862f7a
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
background-color: #04AA6D;
width: 260px;
} /* Green */
.button2 {
background-color: #008CBA;
width: 260px;
} /* Blue */
.button3 {
background-color: #ba2800;
width: 260px;
} /* Blue */
.button4 {
background-color: #ba6600;
width: 260px;
} /* Blue */
.button5 {
background-color: #8f00ba;
width: 260px;
} /* Blue */
.button6 {
background-color: #00b4ba;
width: 260px;
} /* Blue */
.button7 {
background-color: #491783;
width: 260px;
} /* Blue */
.button8 {
background-color: #4652b4;
width: 260px;
} /* Blue */
.button9 {
background-color: #7c2409;
width: 260px;
} /* Blue */
.button10 {
background-color: #066425;
width: 260px;
} /* Blue */
.button11 {
background-color: #ff0000;
width: 260px;
} /* Blue */
.button12 {
background-color: #041377;
width: 260px;
} /* Blue */
.button13 {
background-color: #7acb48;
width: 260px;
} /* Blue */
.button14 {
background-color: #796d60;
width: 260px;
} /* Blue */